<form class="newsletter-widget" id="subscribe_widget_{{ list_id }}_{{ rand }}">
	{% if name == 'yes' %}
	<p>
		<label>{"First name"}:</label><br />
		<input name="first" type="text" />
	</p>
	
	<p>
		<label>{"Last name"}:</label><br />
		<input name="last" type="text" />
	</p>
	{% else %}
	<input type="hidden" name="first" value="" />
	<input type="hidden" name="last" value="" />
	{% end %}

	<p>
		<label>{"Email"}:</label><br />
		<input name="email" type="email" />
	</p>

	<input name="tags" type="hidden" value="{{tags|quotes}}" />

	<input type="submit" value="{'Subscribe'}" />
</form>

<script>
$(function () {
	$('#subscribe_widget_{{ list_id }}_{{ rand }}').on ('submit', function (e) {
		e.preventDefault ();

		var el =  $('#subscribe_widget_{{ list_id }}_{{ rand }}'),
			form = el[0],
			email = form.elements.email.value,
			tags = form.elements.tags.value,
			first = form.elements.first.value,
			last = form.elements.last.value,
			regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

		if (! regex.test (email)) {
			alert ('{"Please enter a valid email address."}');
			return false;
		}

		$.post (
			'/newsletter/api/subscribe',
			{list_id: '{{list_id}}', email: email, tags: tags, first: first, last: last},
			function (res) {
				if (! res.success) {
					el.replaceWith ('<p class="newsletter-response">' + res.error + '</p>');
				} else {
					{% if fwd != '' %}
						window.location.replace ('{{ fwd }}');
					{% else %}
						el.replaceWith ('<p class="newsletter-response">' + res.data + '</p>');
					{% end %}
				}
			}
		);
	});
});
</script>
